<!DOCTYPE html>
<html ng-app="listapp">
<head>
    <script src="scripts/angular.min.js"></script>
    <title>To-Do List</title>
	<meta charset="utf-8" />
    <script src="scripts/ToDoList.js"></script>
</head>
<body ng-controller="listcntroller as ctrl">
    <div>
        <h2 style="text-align:center">To-Do List</h2>
        <label for="list">Task </label><input id="list1" type="text" ng-model="task" />
        <input type="submit" value="Add Task" ng-click="ctrl.addTask()" />
        <ul><li ng-repeat="t in ctrl.list track by $index">{{t}}</li></ul>
    </div>
</body>
</html>
